<h1>{{title}}</h1>

<div class="canvas">

</div>

<div class="canvas">
    <svg width="600" height="600">
        <rect></rect>
    </svg>
</div>

<section>
    <ul id="tweetList"></ul>
</section>

<link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://www.gstatic.com/firebasejs/5.10.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.10.0/firebase-firestore.js"></script>
<script>
    // Initialize Firebase

    firebase.initializeApp(config);
    const db = firebase.firestore();
</script>
<script src="https://d3js.org/d3.v5.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="script.js"></script>
<script>
    var socket = io();
</script>
